/*.App {
  text-align: center;
}*/

body {
    min-height: 100vh;
    background: #fafafa;
    font-family: SamsungOne, Roboto, Helvetica Neue, Arial, sans-serif;
}

.switch-wrapper {
    position: relative;
}

.switch-wrapper > div {
    position: absolute;
    width: 100%;
}