body {
  margin: 0;
  padding: 0;
}

.loading {
    position: relative;
    min-height: 50px;
}
.loading:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("loading.gif");
    display: block;
    position: absolute;
    background-position: center center;
    -webkit-background-size: 60px 60px;
    background-size: 50px 50px;
    background-color: rgba(255,255,255,.7);
    z-index: 100;
    background-repeat: no-repeat;
}

@tailwind components;
@tailwind utilities;
